/*=====================================variable==========================================================*/
:root{
    --primary-color: rgb(255, 255, 255);
}

body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.container{
    width: 1170px;
    margin: auto;
    height: 100%;
}

/*=======================================Partie HEADER============================================================*/

.container-large-1{
    margin:0;
    width: 100%;
    height: 800px;
    background-image: url(images/haut-de-page.jpg); 
}

.container-header{
    background-color: rgba(68, 78, 86, 0.685);
    height: 150px;  
}  

.welcome{
    font-weight: lighter;
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    width: 1170px;
    height: 650PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.welcome p{
    background-color: rgba(68, 78, 86, 0.685);
    margin: 13px auto;
    padding: 4px 20px;
}

.row-1{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.colonne2{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.colonne2 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: transparent;
    border-style: solid;
    padding: 12px 18px;
}

.home{
    color: rgb(75, 202, 255);
    text-emphasis: none;
    border-style: solid;
    border-color: rgb(75, 202, 255);
    padding: 12px 18px;
}

.colonne2 a:hover{
    color: rgb(75, 202, 255);
    border-width: bold;
    border-style: solid;
    border-color: rgb(75, 202, 255);
}

ul{
    width: 700px;
}

.colonne1{
font-weight: bold ;
font-size: 30px;
}

.nav{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;  
}

.E{
    color: rgb(75, 202, 255);
}

/*===================================Partie SERVICE=================================== */

.container-large-2{
    margin:0;
    width: 100%;
    height: 405px;
    background-color: rgb(75, 202, 255);
    display: flex; 
}

.container2{
    margin: auto;
    width: 1170px;
    height: 248px;
}

#service{
    width: 1170px;
    height: 73px;
    font-size: 30px;
    font-weight: lighter;
}

.cite{
    border-bottom: 2px solid white;
}

.items{
    width: 1170px;
    height: 175px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
}

.items p{
    font-size: 12px;
}

h3{
    font-size: 24px;
    font-weight: lighter;
    margin-top: 1px;
}

.coffee{
    width: 270px;
    height: 175px;
    background-color:rgb(75, 202, 255);  
}

.instant{
    width: 270px;
    height: 175px;
    background-color: rgb(75, 202, 255);
}

.serious{
    width: 270px;
    height: 175px;
    background-color: rgb(75, 202, 255); 
}

.frame{
    width: 270px;
    height: 175px;
    background-color: rgb(75, 202, 255);  
}

/*===============================================Partie PORTFOLIO================================== */

.container-large-3{
    margin:0;
    width: 100%;
    height: 845px;
    display: flex;
}

.container3{
    margin: auto;
    width: 1170px;
    height: 845px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio{
    width: 1170px;
    height: 130px;
    margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: rgb(75, 88, 96); 
}

.portfolio p{
    font-weight: lighter;
    font-size: 30px;
    color: rgb(75, 88, 96);  
}

.nav2{
    width: 50%;
    height: 100px;
    display: flex;
}

.colonne3{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: rgb(81,95,103);
}

.colonne3 a{
    color: rgb(81,95,103);
    text-decoration: none;
    border: transparent;
    border-style: solid;
    padding: 12px 18px;
}

.colonne3 a:hover{
    color: rgb(75, 202, 255);
    border-width: bold;
    border-style: solid;
    border-color: rgb(75, 202, 255);
}

.port{
    color: rgb(81,95,103);
    border-bottom: rgb(81,95,103) 2px solid;
}

.image{
    width: 1170px;
    height: 650px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.image-folio{
    margin: 0%;
    width: 270px;
    height: 270px;
}

.folio1{
    background-image: url(images/portfolio_1.jpg);
}

.folio2{
    background-image: url(images/portfolio_2.jpg);
}

.folio3{
    background-image: url(images/portfolio_3.jpg);
}

.folio4{
    background-image: url(images/portfolio_4.jpg);
}

.folio5{
    background-image: url(images/portfolio_5.jpg);
}

.folio6{
    background-image: url(images/portfolio_6.jpg);
}

.folio7{
    background-image: url(images/portfolio_7.jpg);
}

.folio8{
    background-image: url(images/portfolio_8.jpg);
}

.image-folio:hover{
    background-image: url(images/cache_07.jpg);
    opacity: 0.8;
    transition: 0.5s ease-in-out;
}

/*=============================Partie JUST DEFAULT SECTION===================================== */

.container-large-4{
    margin:0;
    width: 100%;
    height: 473px;
    background-color: rgb(81,95,103);
    display: flex;
}

.container4{
    margin: auto;
    width: 1170px;
    height: 473px;
    display: flex;
    justify-content: space-between;
}

.container41{
    margin: auto;
    width: 1170px;
    height: 313px;
    display: flex;
    justify-content: space-between;
}

.just{
    width: 460px;
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.section-text{
    font-size: 14px;
}

.section{
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: lighter;
}

.visit{
    margin-top: 3px;
    color: rgba(53, 63, 70);
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.visit a{
    color: rgba(53, 63, 70);
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    padding: 15px 40px;
}

.visit a:hover{
    color:  black;
    border-width: bold;
    border-style: solid;
    border-color:  black;
}
/*========================================Partie TWITTER===================================================== */

.container-large-5{
    margin:0;
    width: 100%;
    height: 305px;
    background-color: rgb(75, 202, 255);
    display: flex;
}

.container5{
    width: 1170px;
    height: 305px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.twitter{
    width: 1170px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: lighter;
}

cite{
    font-style: normal;
    font-weight: 500 ;
    margin-right: 3px;
    margin-top: 3px;   
}

.text-twitter{
    font-size: 28px;
    font-weight: lighter;
}

/*=========================================Partie WHO IS JOHN DOE============================================= */

.container-large-6{
    margin:0;
    width: 100%;
    height: 505px;
    background-image: url(images/milieu-de-page.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container6{
    margin: auto;
    width: 1170px;
    height: 505px;
    display: flex;
}

.container-who{
    margin: auto;
    width: 1170px;
    height: 300px; 
}

.who{
     width: 1170px;
    height: 24px;
    font-size: 30px;
    font-weight: lighter;
}

.text-who{
    margin-top: 5px;
    width: 1170px;
    height: 208px;
    display: flex;
    font-size: 14px;
}

.text-paragraphe{
    width: 40%;
    height: 208px;
    justify-content: space-between;
    flex-direction: column;  
}

.text-icon{
    margin: auto;
    width: 40%;
    height: 208px;
    justify-content: flex-end;
}

.icon-who{
    height: 64px;
    width: 65%;
    display: flex;
    justify-content: space-between;
    
}

/*==========================================Partie TESTIMONIALS======================================= */

.container-large-7{
    margin:0;
    width: 100%;
    height: 360px;
}

.container7{
    margin: auto;
    width: 1170px;
    height: 360px;
    display: flex;
}

.container-text{
    margin: auto;
    width: 1170px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.testimonials{
    margin: auto;
    width: 1170px;
    height: 35px;
    font-size: 30px;
    font-weight: lighter;
    color: rgb(81,95,103);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.applicake{
    font-size: 28px;
    color: rgb(81,95,103);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

.walt{
    font-size: 14px;
    color: rgb(75, 202, 255);
    font-weight: bold;
}

/*================================================Partie CONTACT========================================= */

.container-large-8{
    margin:0;
    width: 100%;
    height: 814px;
    background-image: url(images/fin-de-page_05.jpg);
    display: flex;
}

.container8{
    margin: auto;
    width: 1170px;
    height: 814px;
    justify-content: center;
    flex-direction: column;
    display: flex; 
}

.container-full{
    width: 1170px;
    height: 738px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container-contact{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 1170px;
    height: 40px;
    font-size: 30px;  
    font-weight: lighter;
}

.full-text{
    margin: auto;
    width: 1170px;
    height: 241px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around;
    align-items: flex-end;
}

.full{
    margin: 0%;
    width: 50%;
    height: 241px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
       
}

.container-name{
    font-weight: bolder;
    color: white;
    margin: 0%;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-flex{
    display: flex;
flex-direction: column;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

.label-email{
    margin-top: 20px;
    
}

.full-name p{
    margin-bottom: 5px;
}


.jujubes{
    font: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 3px;
}

.address{
    list-style: none;
    margin: 0%;
    padding: 0;
}

.address li{
    margin: 2px;

}

.container-message{
    border-width: 2px;
    border-style: solid;
    width: 1165px;
    height: 317px;
    color: white;
    text-decoration: none;   
}

.full-name{
    font-weight: bold;
}
.message{
    margin-bottom: 20px;

}

.bouton{
    margin-left: 2px;
    height: 62px;
    width: 371px;
    height: 62px;
    display: flex;   
}

.bouton a{
     background-color: rgb(75, 202, 255);
     height: 62px;
     width: 371px;
     font-weight: bolder;
    color: white;
    margin: auto;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bouton-message a:hover{
    color: rgb(75, 202, 255);
    border-width: bold;
    border-style: solid;
    border-color: rgb(75, 202, 255);
}

input{    
    border: 2px solid white;
    width: 466px;
    height: 57px;
    color: white;
    background-color: transparent;
    text-decoration: none;
}

/*================================================= Partie Footer======================================= */

footer{
    margin: 0;
    width: 100%;
    height: 170px;
    background-color: rgba(53, 63, 71);
    display: flex;
}

.container-footer{
    margin:auto;
    width: 1170px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    
    
}

.container-footer p{
    color: rgb(75, 88, 96);

}

.container-end{
      margin: auto;
      width: 1170px;
      height: 31px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.text-footer{
    margin: 0px;
    margin-right: 20px;
    width: 50%;
    height: 30px;
    color: rgb(75, 88, 96);
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;    
}

.text-footer li{
    list-style: none;
    color: rgb(75, 88, 96);
    display: flex;
    flex-direction: row;
    padding-right: 12px;
    align-items: flex-start;
    text-decoration: none;
}

.H-S-P{
    border-right: 2px solid rgb(75, 88, 96);
    padding-right: 6px;
    color: rgb(75, 88, 96);
    font-weight: bold;
    text-decoration: none;
}

.cont{
    font-weight: bold;
    text-decoration: none;
    color: rgb(75, 88, 96);
}